/**
 * Niwi Cute Button Hover Animation
 */
.niwi-cb-animation {
  position: relative;

  svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .left-hand {
    position: absolute;
    left: 0;
    opacity: 0;
    transform: translateX(0%);
    transform-origin: left;

    &.frontHandActive {
      opacity: 1;
      transform: translateX(-70%);
    }

    &.backHandActive {
      z-index: 1;
      transform: translateX(-20%);

      .frontHand {
        transition: all 0.12s ease-out;
        opacity: 0.5;
        transform: scale(0);
      }

      .backHand {
        transition: all 0.12s ease-in;
        opacity: 1;
        transform: scale(1);
      }
    }

    &.finishedAnimation {
      opacity: 1;
      z-index: 1;

      .frontHand {
        opacity: 0;
        transform: scale(0);
      }

      .backHand {
        transition: all 0.3s ease-in-out;
        opacity: 0;
        transform: scale(0) translateX(-44%);
      }
    }

    .frontHand {
      opacity: 1;
      transform: scale(1);
    }

    .backHand {
      opacity: 1;
      transform: scale(0.4);
    }
  }

  .right-hand {
    position: absolute;
    right: 0;
    opacity: 0;
    transform: translateX(-100%) scaleX(-1);
    transform-origin: right;

    &.frontHandActive {
      opacity: 1;
      transform: translateX(-20%) scaleX(-1);
    }

    &.backHandActive {
      z-index: 1;
      transform: translateX(-80%) scaleX(-1);

      .frontHand {
        transition: all 0.12s ease-out;
        opacity: 0.5;
        transform: scale(0);
      }

      .backHand {
        transition: all 0.12s ease-in;
        opacity: 1;
        transform: scale(1);
      }
    }

    &.finishedAnimation {
      opacity: 1;
      z-index: 1;

      .frontHand {
        opacity: 0;
        transform: scale(0);
      }

      .backHand {
        transition: all 0.3s ease-in-out;
        opacity: 0;
        transform: scale(0) translateX(44%);
      }
    }

    .frontHand {
      opacity: 1;
      transform: scale(1);
    }

    .backHand {
      opacity: 1;
      transform: scale(0.4);
    }
  }

  .center {
    position: absolute;
    left: 50%;
    transform-origin: center;
    transform: translateX(-50%);

    &.bodyActive {
      transform: translateX(-50%) translateY(-86%);
    }

    &.finishedAnimation {
      transform: translateX(-50%) translateY(0%);
    }
  }
}

/**
 * Niwi Cute Button Menu Animation
 */
.niwi-cb-menu-animation {
  .first-bar {
    transition: all 0.3s ease-in-out;
    transform-origin: 23% 39%;
  }

  .middle-bar {
    transition: all 0.3s ease-in-out;
  }

  .last-bar {
    transition: all 0.3s ease-in-out;
    transform-origin: 25% 60%;
  }

  &.animated {
    * {
      transition: all 0.3s ease-in-out;
    }

    .first-bar {
      transform: rotate(45deg);
      transform-origin: 23% 39%;
    }

    .middle-bar {
      opacity: 0;
    }

    .last-bar {
      transform: rotate(-45deg);
      transform-origin: 25% 60%;
    }
  }
}

/**
 * Niwi Cute Button Setting Animation
 */
.niwi-cb-setting-animation {
  &:hover {
    .dot-group {
      .dot:nth-child(1) {
        animation-duration: 0.6s;
        animation-name: niwi-cb-setting-menu-animation;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
      }
      .dot:nth-child(2) {
        animation-duration: 0.6s;
        animation-delay: 0.12s;
        animation-name: niwi-cb-setting-menu-animation;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
      }
      .dot:nth-child(3) {
        animation-duration: 0.6s;
        animation-delay: 0.22s;
        animation-name: niwi-cb-setting-menu-animation;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
      }
    }
  }
}

@keyframes niwi-cb-setting-menu-animation {
  0% {
    transform: translateY(1.5px);
  }
  50% {
    transform: translateY(-1.5px);
  }
  100% {
    transform: translateY(1.5px);
  }
}

/**
 * Niwi Cute Button Notification Animation
 */
.niwi-cb-noti-animation {
  position: relative;

  svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .hand {
    position: absolute;
    top: 50%;
    left: 0;
    opacity: 0;
    z-index: 0;
    transform-origin: left;
    transform: translateX(-70%) rotate(-15deg);
  }

  .noti {
    transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }

  &.animated {
    .noti {
      transform: rotate(-25deg);
    }
  }
}

/**
 * Niwi Cute Button Toggler Animation
 */
.niwi-cb-toggler-animation {
  .circle-btn {
    transition: 0.2s all ease-in-out;
    filter: grayscale(1);
  }

  &.active {
    .circle-btn {
      filter: grayscale(0);
      transform: translateX(43%);
    }
  }
}
